<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lập danh sách khám</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <h1 class="text-center text-success">Lập danh sách khám bệnh</h1>
    <form>
        <div class="form-group">
            <label>Tên sản phâm</label>
            <input type="text" name="name" class="form-control" />
        </div>
    </form>
</body>
</html>